/*
    font-family: 'Alfa Slab One', cursive;

    font-family: 'Bebas Neue', cursive;

    font-family: 'Montserrat', sans-serif;
*/
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none !important;
}

/**********************
 header section css
 *********************/
header{
	width: 100%;
	position: absolute;
}
.h-contuct{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #3d2514;
}
.nav-link{
	font-family: 'Bebas Neue', cursive;
	font-weight: 600 !important;
	font-size: 20px;
	color: #3d2514 !important;
	text-transform: uppercase;
	margin-top: 24px;
	letter-spacing: 3px;
	padding: 0!important;
}
.nav-item{
	margin-left: 50px;
}
/**********************
 baanner section css
 *********************/
#banner{
	width: 100%;
	padding: 40px 0px;
	background-image: url('../img/banner-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.banner-content{
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.banner-content span{
	font-family: 'Bebas Neue', cursive;
	font-size: 24px;
	color: #3d2514;
	border: 2px dashed #3d2514;
	padding: 4px 8px;
	display: inline-block;
	margin-bottom: 8px;
}
.banner-content h1{
	font-family: 'Alfa Slab One', cursive;
	font-size: 114px;
	color: #3d2514;
	text-transform: uppercase;
	text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.6);
}
.banner-content h2{
	font-family: 'Alfa Slab One', cursive;
	font-size: 56px;
	color: #3d2514;
	text-transform: uppercase;
	text-shadow: 3px 3px 0px rgba(255, 255, 255, 0.6);
}
/**********************
 gallery section css
 *********************/
#gallery{
	width: 100%;
	padding: 100px 0px;
}
.h-item{
	position: relative;
}
.h-content{
	position: absolute;
	top: 0;
	padding: 30px 30px;
}
.h-content span{
	font-family: 'Bebas Neue', cursive;
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
}
.h-content h4{
	font-family: 'Bebas Neue', cursive;
	color: white;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 0.7;
	letter-spacing: 1px;
}
.mt{
	margin-top: 37px;
}
/**********************
 burger section css
 *********************/
 #burger{
 	width: 100%;
 }
 .section-title span{
 	font-family: 'Bebas Neue', cursive;
 	font-size: 24px;
 	color: #3d2514;
 	background-color: #ffc045;
 	font-weight: 600;
 	padding: 12px 36px;
 	text-transform: uppercase;
 }
 .section-title h2{
 	font-family: 'Alfa Slab One', cursive;
	font-size: 56px;
	color: #3d2514;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 30px;
 }
 .section-title p{
 	font-family: 'Montserrat', sans-serif;
	color: #3d2514;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 50px;
 }
 .thumbnail{
 	width: 376px;
 }
 .thumbnail1{
 	width: 406px;
 }
 .b-item h4{
 	font-family: 'Bebas Neue', cursive;
	color: #3d2514;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 1px;
	margin-top: 20px;
	margin-bottom: 16px;
 }
 .b-item p{
 	font-family: 'Montserrat', sans-serif;
	color: #3d2514;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3;
 }
 .b-item button{
 	border: none;
 	padding: 12px 30px;
	background: #bf2222;
	margin-top: 18px;
	transition: 0.5s;
 }
 .b-item button a{
 	font-family: 'Alfa Slab One', cursive;
	font-size: 16px;
	font-weight: 400;
	color: #fff !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	transition: 0.5s;
 }
 .b-item button:hover{
 	background-color: #ffc045;
 	transition: 0.5s;
 }
 .b-item button:hover a{
 	color: #bf2222 !important;
 	transition: 0.5s;
 }
 /**********************
 event section css
 *********************/
#event{
	width: 100%;
	padding: 100px 0px;
}
.slider-box{
	background-color: #fff;
	box-shadow: 10px 6px 18px rgba(0, 0, 0, 0.2);
}
.main-content{
	padding: 24px;
}
.pad{
	padding: 35px;
}
.main-content h3{
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
	color: #3d3d3d;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.main-content h2{
	font-family: 'Alfa Slab One', cursive;
	font-size: 42px;
	color: #3d2514;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 5px;
	margin-bottom: 16px;
}
.main-content p{
	font-family: 'Montserrat', sans-serif;
	color: #3d3d3d;
	font-size: 20px;
}
.owl-nav{
	display: none;
}
.owl-dots{
	position: absolute;
	bottom: 13%;
	left: 42px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    background: #D6D6D6;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffc045;
}
 /**********************
 reservation section css
 *********************/
#reservation{
	width: 100%;
	padding: 100px 0px;
	height: 100vh;
	background-image: url(../img/reservation-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.r-title h4{
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
	color: #3d3d3d;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.r-title{
	font-family: 'Alfa Slab One', cursive;
	font-size: 56px;
	color: #3d2514;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 30px;
}
form input{
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	text-transform: uppercase;
	padding: 13px 0;
	padding-left: 25px;
	padding-right: 140px;
	border: 1px solid #3d2514;
	margin-left: 15px;
	border-radius: 3px;

}
form input:focus{
	outline: none;
}

form a{
	color: white;
	font-size: 20px; 
	background-color: #bf2222;
	padding: 15px 80px;
	border: none;
	margin-left: 15px;
	border-radius: 5px; 
	transition: 0.5s;
	font-family: 'Alfa Slab One', cursive; 
	text-transform: uppercase;
	letter-spacing: 2px;
}

form a:hover{
	color: #bf2222;
	background-color: #ffc045;
}
 /**********************
 footer section css
 *********************/
 footer{
	width: 100%;
	padding-bottom: 50px;
}
.f-box{
	background-image: url(../img/footer-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 50px;

}
.f-content p{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 15px;
	margin-top: 34px;
}
.footer-item{
	margin-top: 100px;
}
.f-item i{
	color: white;
	font-size: 22px;
}
.f-item span{
	font-family: 'Bebas Neue', cursive;
	font-size: 22px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 20px;
}
.fe-item span{
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.f-icon i{
	height: 30px;
	width: 30px;
	background-color: #fff;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	font-weight: 600;
	color: black;
	margin-left: 6px;
}


/*reponsive codde start*/

@media (max-width: 576px){
/**********************
 header section css
 *********************/

header .navbar-toggler{
	position: absolute;
	top: 27px;
	right: 0px;
}
header .ms-auto {
  margin-left: auto !important;
  margin-top: 0px;
  margin-right: -3px;
}
header .bike, .h-contuct{
	display: none;
}
.nav-item{
	text-align: right;
}
.nav-link{
	margin-top: 8px;
}
/**********************
 banner section css
 *********************/
.banner-content{
	height: 82vh;
}
.banner-content span{
	font-size: 18px;
}
.banner-content h1{
	font-size: 72px;
}
.banner-content h2{
	margin-top: -10px;
}
.b-img{
	margin-top: -284px;
}
/**********************
 gallery section css
 *********************/
.h-item img{
	width: 100%;
	margin-bottom: 20px;
}
.h-content span{
	font-size: 15px;

}
.h-content h4{
	font-size: 20px;
	margin-top: 5px;
}
.mt{
	margin-top: 0px;
}
/**********************
 burger section css
 *********************/
.b-item{
	margin-bottom: 22px;
}

/**********************
 event section css
 *********************/
#event{
	padding: 100px 0px 50px;
}
.main-content{
	padding-bottom: 75px;
}
.owl-dots {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

/**********************
 reservation section css
 *********************/
#reservation{
	height: 70vh !important;
}
.r-title{
	margin: 30px;
}
form a {
  color: white;
  font-size: 14px;
  background-color: #bf2222;
  padding: 0px 11px;
  border: none;
  margin-left: 15px;
  border-radius: 5px;
  transition: 0.5s;
  font-family: 'Alfa Slab One', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  line-height: 3.2;
  font-weight: 500;
}

form input {
  font-family: 'Bebas Neue', cursive;
  font-size: 16px;
  text-transform: uppercase;
  padding: 4px 0;
  padding-left: 20px;
  padding-right: -1px;
  border: 1px solid #3d2514;
  margin-left: 15px;
  border-radius: 3px;
  height: 47px;
}

/**********************
 footer section css
 *********************/
footer{
	padding-bottom: 0;
}
.footer-item {
  margin-top: 40px;
}
.f-item i {
  color: white;
  font-size: 15px;
}
.f-item span{
	font-size: 15px;
}
.f-icon i{
	margin-left: 0px !important;
	margin-right: 8px !important;
}
.mt-5 {
  margin-top: 2rem !important;
}
.fe-item span {
  font-family: 'Bebas Neue', cursive;
  font-size: 14px;
}
.text-end {
  text-align: left !important;
}


}